@model IEnumerable<PurchaseSystem.Common.ProductTypeMst>
@{
    ViewBag.Title = "productTypeList";
}

<div style="margin-top: 10px;margin-left: 6px;">
    @Html.ActionLink("Create Type", "Create", "productType")
</div>


<table class="table  table-hover" style="margin-top: 15px;">
    <thead>
        <tr style="width: 100%;">
            <th>Product Type Description</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Description
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "productType", new { id = item.pk_prodtypeId }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        }
    </tbody>
</table>

